background-color = #0f0f0f

html, body
  background-color background-color
  height 100%
  font-family Helvetica, Arial, sans-serif
  margin 0
  padding 0
  width 100%

#content
  display block

#status
  color #ccc
  display none
  font-size 11px
  left 0
  padding 5px 10px
  position fixed
  width 100%
  top 0

  span
    background rgba(0,0,0,0.5)
    border-radius 3px
    line-height 20px
    margin-right 10px
    padding 5px

    strong
      color #fff

#popupBox
  bottom 0
  color #ccc
  display block
  font-size: 18px
  left 0
  opacity 0
  padding 20px 10px
  position fixed
  width 100%

  blockquote
    background rgba(255,255,255,0.8)
    border-radius 3px
    color #000
    display inline-block
    float right
    line-height 20px
    margin 0 20px
    padding 10px 20px

    strong
      color #fff

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  p
    float right
    margin-right 15px

  div
    background url('/assets/img/rpg_faces_just_because_by_eternitymaze-d5mq78r.png') top left no-repeat
    border 2px solid rgba(255,255,255,0.5)
    border-radius 50%
    display block
    float right
    height 46px
    width 46px

    &.human
      background-position 0 -146px

    &.ogre
      background-position -96px -146px

    &.zombie
      background-position -48px -146px

    &.armor
      background-position -48px 0

    &.shield
      background-position -144px -48px

    &.hospital
      background-position -97px -48px

#messageBox
  background rgba(0,0,0,0.5)
  border 1px solid #ccc
  box-shadow 2px 2px 10px #000
  color #fff
  font-size 24px
  left 25%
  margin 0 auto
  text-align center
  top 20%
  opacity 0
  padding 20px
  position fixed
  width 50%

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  button
    background #030
    border #333
    border-radius 3px
    color #fff
    cursor pointer
    display none
    font-size 18px
    margin 0 5px
    text-transform capitalize

    &:hover
      background #fff
      color #030

  #optionButtons
    button
      display inline-block