@import 'vars'

html, body
  height 100%
  margin 0
  padding 0
  width 100%


body
  background $background-color url('../assets/img/background.png') repeat center center
  font-family Helvetica, Arial, sans-serif
  font-size 1rem

  *
    box-sizing border-box

  :focus
    opacity 1
    outline 0

  button
    opacity 0.5

/* Homepage */


#game-window
  /*display block*/

#status
  color #ccc
  display none
  font-size 0.7rem
  left 0
  padding 0.5rem 0
  position fixed
  text-align center
  top 0
  width 100%

  span
    background rgba(0,0,0,0.5)
    border-radius 0.25rem
    line-height 1rem
    margin 0 0.1rem
    padding 0.2rem

    strong
      color #fff

#popupBox
  bottom 50%
  color #ccc
  display block
  font-size: 1rem
  left 0
  opacity 0
  padding 1rem
  position fixed
  width 100%

  blockquote
    background rgba(255,255,255,0.8)
    border-radius 0.25rem
    color #000
    display inline-block
    float right
    line-height 1rem
    margin 0 1rem
    padding 1rem

    strong
      color #fff

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  p
    float right
    margin-right 1rem

  div
    background url('/assets/img/rpg_faces_just_because_by_eternitymaze-d5mq78r.png') top left no-repeat
    border 2px solid rgba(255,255,255,0.5)
    border-radius 50%
    display block
    float right
    height 46px
    width 46px

    &.human
      background-position 0 -146px

    &.ogre
      background-position -96px -146px

    &.zombie
      background-position -48px -146px

    &.armor
      background-position -48px 0

    &.shield
      background-position -144px -48px

    &.hospital
      background-position -97px -48px

#messageBox
  background rgba(0,0,0,0.5)
  border 1px solid #ccc
  box-shadow 0.25rem 0.25rem 1rem #000
  color #fff
  font-size 1rem
  left 15%
  text-align center
  top 20%
  opacity 0
  padding 0.5rem
  position fixed
  width 70%
  z-index 950

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  #messageText
    margin 1rem auto

  button
    background #030
    border #333
    border-radius 0.25rem
    color #fff
    cursor pointer
    display none
    font-size 1rem
    margin 0 0.25rem
    text-transform capitalize

    &:hover
      background #fff
      color #030

  #optionButtons
    button
      display inline-block

#virtualPad
  bottom 0
  display block
  height 9rem
  left 0
  position fixed
  width 100%
  z-index 900
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

  div
    background none
    border 2px solid rgba(255, 255, 255, 0.3)
    border-radius 50%
    color rgba(255, 255, 255, 0.5)
    display block
    font-size 1.5rem
    height 3.5rem
    left 1rem
    line-height 3.5rem
    opacity 1
    position absolute
    text-align center
    top 0
    width 3.5rem
    z-index 910

    &:active
      background-color rgba(255, 255, 255, 0.3)

  i
    z-index 905

  #upButton
    top 0rem

  #upButton
  #downButton
    left 4rem

  #downButton
    top 5rem

  #leftButton
  #rightButton
    top 2.5rem

  #rightButton
    left 7rem

  #actionButton
  #optionButton
    font-size 2rem
    height 4.5rem
    left auto
    line-height 4.6rem
    right 1rem
    top 0rem
    width 4.5rem

  #optionButton
    right 3.5rem
    top 4rem