@import 'vars'

html, body
  height 100%
  margin 0
  padding 0
  width 100%


body
  background $background-color url('../assets/img/background.png') repeat center center
  font-family Helvetica, Arial, sans-serif
  font-size 1rem

  *
    box-sizing border-box
/* Homepage */


#game-window
  /*display block*/

#status
  color #ccc
  display none
  font-size 0.7rem
  left 0
  padding 0.5rem 0
  position fixed
  text-align center
  top 0
  width 100%

  span
    background rgba(0,0,0,0.5)
    border-radius 0.25rem
    line-height 1rem
    margin 0 0.1rem
    padding 0.2rem

    strong
      color #fff

#popupBox
  bottom 50%
  color #ccc
  display block
  font-size: 1rem
  left 0
  opacity 0
  padding 1rem
  position fixed
  width 100%

  blockquote
    background rgba(255,255,255,0.8)
    border-radius 0.25rem
    color #000
    display inline-block
    float right
    line-height 1rem
    margin 0 1rem
    padding 1rem

    strong
      color #fff

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  p
    float right
    margin-right 1rem

  div
    background url('/assets/img/rpg_faces_just_because_by_eternitymaze-d5mq78r.png') top left no-repeat
    border 2px solid rgba(255,255,255,0.5)
    border-radius 50%
    display block
    float right
    height 46px
    width 46px

    &.human
      background-position 0 -146px

    &.ogre
      background-position -96px -146px

    &.zombie
      background-position -48px -146px

    &.armor
      background-position -48px 0

    &.shield
      background-position -144px -48px

    &.hospital
      background-position -97px -48px

#messageBox
  background rgba(0,0,0,0.5)
  border 1px solid #ccc
  box-shadow 0.25rem 0.25rem 1rem #000
  color #fff
  font-size 1rem
  left 15%
  text-align center
  top 20%
  opacity 0
  padding 0.5rem
  position fixed
  width 70%

  &.hidden
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 0

  &.visible
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity 1

  #messageText
    margin 1rem auto

  button
    background #030
    border #333
    border-radius 0.25rem
    color #fff
    cursor pointer
    display none
    font-size 1rem
    margin 0 0.25rem
    text-transform capitalize

    &:hover
      background #fff
      color #030

  #optionButtons
    button
      display inline-block