doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= name
        link(rel='stylesheet', href='css/style.css')
    body
        #content

        script(src='js/phaser.min.js')
        unless debug
            script(src='js/game.min.js')
        else
            script(src='js/game.js')
